body {
    margin: 0;
}
nav {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    z-index: 1;
}
.hold {
    display:flex;
}
.hold-side {
    display:flex;
    margin: 20px 0 0 0;
}
.right {
    width: 32%;
}
.left {
    width: 68%;
}
.video {
    height: 600px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}
.left-nav {
    margin: 0 15px;
}
.right-nav {
    margin: 0 15px;
}
.middle-nav {
    margin:0 auto;
}
.youtube-logo{
    height: 18px;
}
.search-bar {
    width: 620px;
    background-color: transparent;
    border: 0;
    height: 30px;
}
.sign-in {
    height: 30px;
}
.search-button {
    background-color: lightgrey;
    border: 0;
    height: 30px;
    width: 50px;
}
.wrapper {
    border:1px solid #000;
    display: inline-block;
    height: 30px;
}
.video-video {
    margin: 75px 0 0 50px;
}
.right-right {
    margin: 75px 0 0 0;
}
.side-image {
    height: 100px;
    width: 180px;
    margin: 0 0 0 15px;
}
.left-image {
    margin: 0 0 0 10px;
}
p {
    margin: 10px 0 0 0;
}
body {
    background-color: #f0eeee;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.hold-right {
    margin: 0 260px 0 15px;
}
.description-box {
    margin: 0 0 0 50px;
}
.video-title {
    margin: 15px 0 0 0;
    font-size: larger;
}
.video-info {
    margin: 25px 0 0 0;
}
.video-status {
    float: right;
}
.description-image {
    border-radius: 50%;
}
.video-description {
    margin: 40px 0 0 0;
    display: flex;
}
.des-title {
    margin: 0 0 0 10px;
}
.sub {
    color: white;
    background-color: red;
    height: 40px;
    width: 120px;
    margin: 10px 0 0 600px;
}
.about {
    margin: 30px 0 0 60px;
}
.forward {
    margin: 0 0 0 60px;
}
.about-div {
    margin: 20px 0 0 0;
    display: flex;
}
.comment-flex {
    margin: 20px 0 0 0;
    display: flex;
}
.comment-font {
    font-size: 18px;
}
.comment-space {
    margin: 2px 0 0 30px;
}
.single-comment {
    display: flex;
    margin: 30px 0 0 0;
}
.c-comment {
    margin: 0 0 0 10px;
}
.like-bar {
    margin: 10px 0 0 50px;
}
.comments {
    margin: 0 0 50px 0;
}